<footer class="topnav">
    <div class="footer-copyright">
        <div class=" container">
            All articles belong to <a href="https://www.pcgamer.com" target="_blanks">PC-GAMER</a>
            <a class="grey-test test-lighten-4 right" href="/articles-json">Article JSON</a>
        </div>
    </div>
</footer>