<nav>
    <div class="nav-wrapper topnav">
        <a href="/" class="brand-logo center">PC-GAMER News</a>
        <ul class="right" id="nav-mobile">
            <li><a href="/scrape">Scrape</a></li>
            <li><a href="/favorites">Favorites</a></li>
            <li><a href="/articles">All Articles</a></li>
            <li><a href="#">Git Repo</a></li>
        </ul>
    </div>
</nav>